/*** ID SELECTORS ***/



#title {
  background-color: #ff4c68;
}

/*** CLASS SELECTORS ***/

.container-fluid {
  padding: 3% 15%;

}

/*** TAG SELECTORS ***/

/*
body {

  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;

}
*/

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;

}
